<main class="container-fluid user-select-none">
    {% include tags.html %}

    {% for link in site.data.links %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-5" id="{{ link.tag }}"></div>

            <div class="col-12 py-3">
                <h3 class="border shadow-sm p-3" href="#fold_{{ link.tagId }}" data-bs-toggle="collapse">
                    {{ link.tag }} <span class="badge bg-info ">{{ link.count }}</span>
                </h3>
                <button type="button" class="btn btn-outline-secondary shadow-sm position-relative"
                    href="#associationTags_{{ link.tagId }}" data-bs-toggle="collapse">
                    关联标签 
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                        {{ link.associationTagCount }}
                        <span class="visually-hidden">未读消息</span>
                      </span>
                </button>
                <div id="associationTags_{{ link.tagId }}" class="collapse shadow-sm p-2">
                    {% for associationTag in link.associationTags %}
                    <a href="#{{ associationTag }}" class="btn badge bg-info">{{ associationTag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="fold_{{ link.tagId }}" class="row collapse show">
            {% for card in link.links %}
            {% if card.name and card.name != '' %}
            <div class="col-lg-3">
                <div class="card m-2 border shadow-sm user-select-none">
                    <div class="card-body text-truncate">
                        {% if card.icon and card.icon != '' %}
                        <img src="{{ card.icon }}" alt="{{ card.name }}">
                        {% endif %}
                        <a href="{{ card.href }}" class="text-decoration-none" target="_blank" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="{{ card.name }} {{ card.href }}">{{ card.name }}</a>
                        {% if card.status%}
                        <ol class="breadcrumb">
                            {% if card.status == '-1' %}
                            <li class="breadcrumb-item text-danger">已失效</li>
                            {% endif %}

                            {% if card.status == '0' %}
                            <li class="breadcrumb-item text-muted">未整理</li>
                            {% endif %}
                        </ol>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% for tag in card.tags %}
                        <a href="#{{ tag }}" class="btn badge bg-info">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <!-- 底部的锚点 -->
        <div class="col-12 p-5" id="bottom-anchor"></div>
    </div>

</main>