<main class="col-10">
    {% include tags.html %}

    {% for link in site.data.links %}

    <div class="row">
        <div class="col-12 m-3 p-4" id="{{ link.tag }}"></div>

        <div class="col-12 m-3 p-3 border shadow-sm user-select-none" href="#fold_{{ link.tag }}" data-bs-toggle="collapse">
            <h3>{{ link.tag }} <span class="badge bg-info ">{{ link.count }}</span></h3>
        </div>
    </div>

    <div id="fold_{{ link.tag }}" class="row collapse show">
        {% for card in link.links %}
        {% if card.name and card.name != '' %}
        <div class="col-lg-3">
            <div class="card m-2 border shadow user-select-none">
                <div class="card-body text-truncate">
                    {% if card.icon and card.icon != '' %}
                    <img src="{{ card.icon }}" alt="{{ card.name }}">
                    {% endif %}
                    <a href="{{ card.href }}" class="text-decoration-none" target="_blank" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="{{ card.name }} {{ card.href }}">{{ card.name }}</a>
                </div>
                <div class="card-footer">
                    {% for tag in card.tags %}
                    <a href="#{{ tag }}" class="btn badge bg-secondary">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% endfor %}

    <!-- 底部的锚点 -->
    <div id="bottom-anchor"></div>
</main>